* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header__link {
    color: #fff;
}

.photo {
    width: 250px;
    border-radius: 32px;
}

.title {
    font-size: 48px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;
}

.text {
    width: 500px;
    line-height: 32px;
}

.footer {
    background-color: black;
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    text-align: center;
    margin-top: 64px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.box__item {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.box__img {
    width: 100px;
}

.box__info {
    width: 600px;
    line-height: 24px;
}

.works {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.works__heading {
    font-size: 48px;
    margin-bottom: 32px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icons {
    display: flex;
    gap: 24px;
}

.contacts__text {
    font-size: 28px;
    line-height: 40px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 350px);
        padding-right: calc(50% - 350px);
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content {
        flex-direction: column;
    }

    .text {
        width: 100%;
    }

    .box__item {
        gap: 16px;
    }
}